:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

.warehouse-wrapper {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background: #151515;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}
